body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
}