*, *::after, *::before{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    padding: 5px 10px;
    margin: 5px;
}

#content{
    flex: 1 auto;
}

#outerContainer{
    border-radius: 30px;
    background-color: red;
    padding: 0px 30px;
}

#containerHeader{
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    background-color: white;
}

#containerFooter{
    min-height: 50px;
    display: flex;
    align-items: center;
}